<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

   <form method="POST" action="/reverse">
       Team Name <input type="text" name="name"> 
       Coach <input type="text" name="coach"> 
       Point Guard <input type="text" name="pg"> 
       Small Forward <input type="text" name="sf">
       Power Forward <input type="text" name="pf">
       Center<input type="text" name="c">

      <input type="submit" name="string">
    </form>

 </body>
</html>
